* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*a medida da largura da caixa*/
  /* o * serve para selecionar todos os elementos da página*/
}

body {
  background-color: #09090a;
  color: white;

  height: 100vh; /*altura*/
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; /*aqui pega toda a largura do header e vai justificar o conteúdo colocando espaço entre os elementos, um em cada ponta*/
  
  padding: 48px;

  position: fixed;
  width: 100%;
  background-color: #09090a;
  
}

button {
  padding: 16px 24px; /*preenchimento*/
  border-radius: 8px; /*arredondamento da borda*/
  border: 1px solid #8b5cf6; /*borda*/
  background-color: transparent; /*cor de fundo*/
  color: white; /*cor da letra*/

  display: flex; /*display significa a disposição de um elemento, para ordenar o botão 'registrar meu dia' e o flex tira o elemento do lado do outro para centralizar o botão*/
  align-items: center; /*a opção align-items só existe quando tenho a opção do display flex*/
  gap: 12px; /*espaço entre os elementos, apenas possível utilizar se for o display flex*/

  font-family: "Inter"; /*fonte que peguei no google*/
  font-weight: 600; /*peso da fonte, largura da letra*/
  font-size: 16px; /*tamanho da fonte*/
  line-height: 125%; /*altura da linha*/
}

#form-habits {
  display: flex;

  padding: 182px 48px 48px;
  width: fit-content; /*significa encaixe o conteúdo na largura*/
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: 'Roboto Mono';
  font-size: 20px;
  line-height: 125%;

  color: #A1A1AA;

  text-align: center;
}

input {
  appearance: none; /*aqui é para tirar a aparência para dar a possibilidade de usar outras propriedades (no caso do input checkbox)*/
  -webkit-appearance: none; /*é uma propriedade que vai rodar em alguns navegadores*/

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background: #18181b;
}

/*pseudo-selector*/
input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}